table, th, td {
    border-collapse: collapse;
}

.hasBtn {
    text-align: center;
}

.last {
    text-align: end;
}

.container {
    position: relative;
  }
  #clip {
    position: absolute;
    clip: rect(0px, 0px, 240px, 0px);
    /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
  }